backend/.env
backend/dump.rdb
backend/celerybeat-schedule.db
/dump.rdb
frontend/dump.rdb

# Virtual Enviornment
.venv

# Pycharm files
.idea/

# Python files
backend/.__pycache__/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Node modules
frontend/node_modules